<html>
	
	<body topmargin="0" leftmargin="0" rightmargin="0">
		<p style="background-color:#84854B" width="100%" padding="0" align="center" margin="0">
		<img src="AGLOGOLFT.jpg" />
		</p>
		
		<p style="margin-left:10pt;font-family:bold;font-family:Verdana; font-size:30pt;" width="100%">
			<i>Reports tabulated by: AnglerGuide.com</i>
		</p>
		
		<p style="margin-left:10pt;font-family:bold;font-family:Verdana; font-size:30pt;" width="100%">
			<b>Lake:</b><br>
			Jimmy Smith
		</p>
		
		<p style="margin-left:10pt;font-weight:normal;font-family:Verdana;font-size:30pt;"  width="100%">
			<b>Date:</b><br>
			04-Jun-08
		</p>
		
		<p style="margin-left:10pt;font-weight:normal;font-family:Verdana;font-size:30pt;"  width="100%">
			<b>Report:</b><br>
			Jimmy Smith Lake is ice-free and anglers report good fishing from the bank for trout. Most high mountain lakes are still inaccessible due to snow
			Reported by: IDFG
		</p>
		
	</body>
	
</html>