<html>
<head>
	<style type="text/css">
  		.reportLbl {
  			margin-left:5pt;
			margin-bottom:10pt;
			font-family:bold;
			font-family:Verdana;
			font-size:30pt;
			color:#CCCCCC; 
		}
		.reportData {
  			margin-left:20pt;
			margin-right:5pt;
			font-family:normal;
			font-family:Verdana;
			font-size:30pt;
			color:#232928; 
		}
		.actualReportData  {
  			margin-left:20pt;
			margin-right:20pt;
			font-family:normal;
			font-family:Verdana;
			font-size:30pt;
			color:#232928; 
		}
 	</style>
	<script type="text/javascript"> 
	    
		// document.getElementById('myDiv').innerText = '';
		Titanium.App.addEventListener('LOAD_REPORT',function(e) {
				document.getElementById('reportLake').innerText = e.title;
				document.getElementById('reportTimeStamp').innerText = e.timeDisplay;
				document.getElementById('reportBody').innerHTML = e.reportBody;
				document.getElementById('reportedBy').innerHTML = '<a href=\"http://' + e.reportedBy + '\">' + e.reportedBy + '</a>';
				Titanium.App.fireEvent("LOAD_REPORT_COMPLETE", {}); 
		});
	
	</script>
</head>
	<body topmargin="20" bottommargin="20" leftmargin="20" rightmargin="20" background="../dockedbg.png">
		<table width="100%" bgcolor="#FFFFFF"><tr><td>
		
		<p class="reportlbl" width="100%">
			<b>Resource:</b>&nbsp;<b><div id="reportLake" class="reportData" style="width:100%; height:100%"></div></b>
		</p>
		
		<p class="reportlbl" width="100%">
			<b>Last Update:</b>&nbsp;<b><div class="reportData" id="reportTimeStamp" style="width:100%; height:100%"></div></b>
		</p>
		
		<p class="reportlbl" width="300px">
			<b>Fishing Report:</b><br>
			<div class="actualReportData" id="reportBody" style="width:90%; height:100%"></div>
		</p>
		<p class="reportlbl" width="100%">
			<b>Reported by:</b>&nbsp;<b><div id="reportedBy" class="reportData" style="width:100%; height:100%"></div></b>
		</p>
		<br>
		</td>
		</tr>
		</table>
	</body>
	
</html>